@use "../mixins/animations" as animations;

.toast {
  padding: 0.6rem 2rem;
  border-radius: var(--rounded-sm);
  background: var(--color-gray-100);
  margin-bottom: 1rem;
  p {
    color: var(--color-gray-900);
    margin: 0;
  }
  @include animations.add-animation(
    fadeInAndUp,
    500ms,
    cubic-bezier(0.21, 0.15, 0.33, 1.25),
    forwards,
    0s
  );
  &.toast-type-error {
    background: linear-gradient(
      61deg,
      var(--color-error-100) 29%,
      var(--color-error-200) 100%
    );
    p {
      color: var(--color-gray-100);
    }
  }
}
