@use "./mixins/media-queries" as *;

#notification-layer {
  position: fixed;
  margin-top: 2rem;
  margin-right: 4rem;
  top: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none;
}

.main-header {
  padding-top: 3.5rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  h1 {
    margin: 0 1rem 1.6rem 0;
  }
}

.get-user-location-button {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.3rem;
  }
}

#current-weather {
  margin-top: 4rem;
  margin-bottom: 6rem;
  .headline-wrapper {
    margin-bottom: 3rem;
    h2 {
      margin-right: 2rem;
    }
    @include mq(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
    }
  }
}

.nav-buttons {
  margin: 5rem auto 8rem auto;
  max-width: 25rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-300);
  background-color: var(--color-gray-900);
  padding: 3rem 6rem;
  margin-top: 3rem;
  text-align: center;
  list-style: 1.5;
  svg {
    fill: var(--color-error-100);
    height: 1.4em;
    width: 1.4em;
    margin-bottom: -0.25em;
    margin-left: 0.15em;
    margin-right: 0.15em;
  }
}
