$colors: (
  primary: (
    100: hsl(214, 85%, 90%),
    200: hsl(214, 85%, 80%),
    300: hsl(214, 85%, 64%),
    400: hsl(214, 85%, 45%),
    500: hsl(214, 85%, 30%),
  ),
  secondary: (
    100: hsl(169, 51%, 90%),
    200: hsl(169, 51%, 75%),
    300: hsl(169, 51%, 58%),
    400: hsl(169, 51%, 45%),
    500: hsl(169, 51%, 30%),
  ),
  "gray": (
    50: hsl(0, 0%, 98%),
    100: hsl(0, 0%, 93%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 70%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 11%),
    900: hsl(0, 0%, 7%),
  ),
  error: (
    100: hsl(353, 100%, 61%),
    200: hsl(353, 100%, 51%),
  ),
);
